*{
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 200%;
}
nav {
  width: 100%;
  position: fixed;
  background: rgb(41,24,4);
  font-size: 0.6em;
  padding: 10px;
  text-align: right;
}
a {
  text-decoration: none;
  color: white;
}
nav a {
  text-decoration: none;
  color: pink;
  cursor: pointer;
  margin: 0 25px;
}

#welcome-section {
  align-items: center;
  display: flex;
  flex-direction: row;
  background-color: black;
  color: white;
  height: 100vh;
}
#header1Text {
  margin: 34px 34px;
  width: 60%;
}

#header1Img{
  width: 40%;
  text-align: center;
}

#welcome-section a img{
  box-shadow: 0px 10px 10px 10px 1px rgba(2,5,10,0);
  width: 199px;
  border: 9px solid white;
  border-radius: 250px;
  margin: 49px auto;
  animation: rotate 5s infinite;
}

#projects {
  background-color: antiquewhite;
  padding: 10% 5%;
  text-align: center;
  display: none;
}
#projects section {
  background: aliceblue;
}
.hrStyle {
  width: 10%;
  margin: 10px 45% 45px 45%;
  border: 5px solid forestgreen;
  border-radius: 30px;
  outline: orange;
  color: orange;
}
.project-tile {
  width: 30%;
  margin: 15px auto;
  padding: 25px 25px;
  border-radius: 10px;
  text-align: center;
  background-color: antiquewhite;
}
.project-tile img {
  width: 100%;
  opacity: 0.8;
}
#main {
  display: grid;
  background: red;
  grid: auto auto / auto auto;
  grid-gap: 4%;
  align-items: center;
  padding: 17%;
}
.mainCards {
  border-radius: 35px;
  background-color: grey;
  width: 100%;
  padding: 200px 0px;
  text-align: center;
  font-size: 80%;
}
.mainCards img{
  width: 20%;  
}

footer {
  background-color: brown;
  text-align: center;
  padding: 20px;
}

#back-area {
  display: none;
  float: right;
  margin: 1px 55px;
}
#back-area img {
  width: 100px;
}

#myself {
  padding: 25px 50px;
  background-color: antiquewhite;
  display: none;
}

#myself ul{
  list-style: decimal;
  padding: 5px 3%;
}
#contact {
  text-align: center;
  background-color: antiquewhite;
}
#contact div div{
  border-radius: 90px;
  padding: 3%;
  margin: 20px 44%;
  background-color: pink;
  width: 3%;
  text-align: center;
}
#contact div div img {
  width: 90%;
}
@keyframes rotate {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(360deg);
  }
}

@media only screen and (max-width: 720px) {

  body {
    font-size: 100%;
  }

  #welcome-section a img{
    width: 50%;
    border: 5px solid white;
  }
  #projects {
    background-color: antiquewhite;
    padding: 14% 5%;
    text-align: center;
  }
  #projects section {
    background: aliceblue;
  }
  .hrStyle {
    width: 10%;
    margin: 10px 45% 45px 45%;
    border: 5px solid forestgreen;
    border-radius: 30px;
    outline: orange;
    color: orange;
  }
  .project-tile {
    width: 30%;
    margin: 15px auto;
    padding: 25px 25px;
    border-radius: 10px;
    text-align: center;
    background-color: antiquewhite;
  }
  .project-tile img {
    width: 100%;
    opacity: 0.8;
  }
  #main {
    display: grid;
    background: red;
    grid: auto auto / auto auto;
    grid-gap: 4%;
    align-items: center;
    padding: 17%;
  }
  .mainCards {
    padding: 100px 0px;
  }
  .mainCards img{
    width: 50px;
  }
  footer {
    background-color: brown;
    text-align: center;
    padding: 20px;
  }
  #back-area {
    margin: 1px 20px;
  }
  #back-area img {
    width: 40px;
  }
  #contact div div{
    border-radius: 190px;
    padding: 4%;
    width: 4%;
  }
  #contact div div img {
    width: 120%;
  }
}
